<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.advertise.mapper.SpaceMapper">

    <resultMap type="AdvSpace" id="AdvSpaceResult">
        <id     property="id"     column="id"     />
        <result property="advId"   column="adv_id"   />
        <result property="appId"   column="app_id"   />
        <result property="advName"   column="adv_name"   />
        <result property="advPlatform"   column="adv_platform"   />
        <result property="advType"   column="adv_type"   />
        <result property="distributton"   column="distributton"   />
        <result property="projectPlatform"   column="project_platform"   />
        <result property="isDelete"     column="is_delete"      />
        <result property="createUser"   column="create_user"   />
        <result property="createTime" column="create_time" />
        <result property="updateUser"   column="update_user"   />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectAdvSpaceVo">
        select *
        from adv_space
    </sql>
    <update id="updateSpace">
        update adv_space
        <set>
            <if test="advId != null and advId != ''">adv_id = #{advId},</if>
            <if test="appId != null and appId != ''">app_id = #{appId},</if>
            <if test="advName != null and advName != ''">adv_name = #{advName},</if>
            <if test="advPlatform != null">adv_platform = #{advPlatform},</if>
            <if test="advType != null ">adv_type = #{advType},</if>
            <if test="distributton != null ">distributton = #{distributton},</if>
            <if test="projectPlatform != null and projectPlatform != ''">project_platform = #{projectPlatform},</if>
            <if test="isDelete != null ">is_delete = #{isDelete},</if>
            <if test="updateUser != null and updateUser != ''">update_user = #{updateUser},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <select id="selectSpaceList" parameterType="AdvSpace" resultMap="AdvSpaceResult">
        <include refid="selectAdvSpaceVo"/>
        <where>
            <if test="advType != null">
                AND adv_type = #{advType}
            </if>
            <if test="advPlatform != null">
                AND adv_platform like concat('%', #{advPlatform}, '%')
            </if>
            <if test="projectPlatform != null">
                AND project_platform like concat('%', #{projectPlatform}, '%')
            </if>
        </where>
    </select>
    <select id="getSpaceById" resultMap="AdvSpaceResult">
        <include refid="selectAdvSpaceVo"></include>
        <where>
            id = #{id}
        </where>
    </select>
    <select id="selectSpaceByIdAndPlatform" parameterType="AdvSpace" resultMap="AdvSpaceResult">
        <include refid="selectAdvSpaceVo"></include>
        <where>
            id = #{id}
            and project_platform = #{projectPlatform}
        </where>
    </select>

    <delete id="deleteSpaceById" parameterType="Long">
        delete from adv_space  where id = #{id}
    </delete>

    <insert id="insertSpace" parameterType="AdvSpace">
        insert into adv_space(
        <if test="advId != null and advId != ''">adv_id,</if>
        <if test="appId != null and appId != ''">app_id,</if>
        <if test="advName != null and advName != ''">adv_name,</if>
        <if test="advPlatform != null">adv_platform,</if>
        <if test="advType != null ">adv_type,</if>
        <if test="distributton != null">distributton,</if>
        <if test="projectPlatform != null and projectPlatform != ''">project_platform,</if>
        <if test="createUser != null and createUser != ''">create_user,</if>
        create_time,
        update_time
        )values(
        <if test="advId != null and advId != ''">#{advId},</if>
        <if test="appId != null and appId != ''">#{appId},</if>
        <if test="advName != null and advName != ''">#{advName},</if>
        <if test="advPlatform != null">#{advPlatform},</if>
        <if test="advType != null">#{advType},</if>
        <if test="distributton != null">#{distributton},</if>
        <if test="projectPlatform != null and projectPlatform != ''">#{projectPlatform},</if>
        <if test="createUser != null and createUser != ''">#{createUser},</if>
        sysdate(),
        sysdate()
        )
    </insert>

</mapper>